body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #514343;
}
.nav{
    background-color:grey;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.brand {
    color: rgb(238, 238, 241);
    text-decoration: none;
    font-size: 1.5em;
}
